@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,400&display=swap');

$yellow-color: rgba(243, 191, 25, 1);
$blue-color:rgba(26, 135, 201, 1);

@mixin page-heading{
  border-radius: 5px;
  border: 1px solid rgba(243, 191, 25, 0.30);
  background: rgba(243, 191, 25, 0.08) ;
   color: #F3BF19;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  width: max-content;
  padding: 0px 18px;
  line-height: 26.85px;
}
.icon{
  
  background:$yellow-color;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  


}


.footer-bottom-heading{
  color: #1A87C9;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px
}