@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,400&display=swap');
#homeMain {
  display: grid;
  gap: 50px;

  .home-top {
    background-blend-mode: lighten;
    background-image: url('../../Assets/image/main-banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 90%;
    background-color: #040d2c;


    .container {
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      line-height: 77px;



      .home-heading {
        color: white;
        margin: 0;
        font-family: Poppins;
        font-weight: 600;
        font-size: 71px;

        span {
          color: #1a87c8;
          display: block;
        }

        em {
          color: #f4bf19;
          position: relative;
        }

        em:before {
          content: "ı";
          position: absolute;
          color: #1a87c8;
        }
      }

      p {
        color: white;
        opacity: 0.7;
        font-family: "Ethos Nova";
        font-size: 22px;
        font-weight: 400;
      }
    }

  }
  .home-bottom {

  display: grid;
  gap: 30px;

   .home-bottom-content {
    background-color: #1a87c8;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding:60px 120px;

    .home-bottom-heading {
      margin-top: 0;
      color: white;
      font-size: 30px;
      font-family: poppins;
      font-weight: bold;
      text-align: center;
    }

    .home-search {
      position: relative;

      .home-search-input {
        width: 100%;
        border-radius: 40px;
        border: none;
        padding: 28px;

      }
      ::placeholder{
        justify-content: center;
        align-items: flex-start;
        font-size: 20px;
        font-weight: 500;
        color: black;
        font-family: poppins;

      }

      .icon {
        position: absolute;
        right: 17px;
        top: 5px;
        font-size: 58px;
        border-radius: 40px;
        padding: 12px;

      }
    }
  }

  #search-cartoon {
    box-shadow: 0px 5.84241px 5.84241px 0px rgba(0, 0, 0, 0.03);
    display: flex;
    gap: 20px;
    padding: 60px;

    #text {
      color: #5F5F5F;
      font-family: Ethos Nova;
      font-weight: 500;
      font-size: 26px;
      line-height: 140%;
      display: grid;
      gap: 20px;


    }
  }
}
}






