@use "src/App";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,400&display=swap");

.partners-container {
  .partners-top {
    .heading {
      margin: auto;
      @include App.page-heading;
    }
    p {
      font-family: Poppins;
      font-weight: 600;
      font-size: 40px;
      text-align: center;

      span {
        color: #1a87c9;
      }
    }
  }
  .partners-details {
    display: flex;
    gap: 50px;
    padding: 15px 50px;
    margin: 0px 100px;
    img {
      width: 280px;
      height: 137px;
    }
    .border {
        border-left: 1px solid #D1D1D1;
        height: 100px;
    }
    p {
    
      font-family: Ethos Nova;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0em;
       line-height: 28px;
    }
  }
}
