@use "../../global";
@import "../../global";

.partners-main{
  display: grid;
  //margin: 50px 0px;
.partners-top {
  background: rgba(231, 243, 250, 0.2);
  padding: 50px 0px;
  .container{
    display: grid;
    gap: 25px;

  .partners-details {
    display: flex;
    gap: 80px;
    border: 3px dashed rgba(234, 234, 234, 1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 70px;


    .partners-details-img {
      width: 300px;
      height: 137px;
    }
    .border {
        border-left: 1px solid #D1D1D1;

    }
    .partners-details-content {
      font-family:Poppins;
      font-size: 22px;
      font-weight: 500;
      line-height: 33.6px;
      color: rgba(95, 95, 95, 1);
      line-height: 35px;
    }
  }
  .carousel{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
   .carousel-link {
     border: 1px solid rgba(231, 231, 231, 1);
     border-radius: 30px;
     width: 35px;

    }
    .carousel-link:hover {
      border: 1px solid $blue-color;
    }
   }
  }
}
.partners-bottom {
  background-image: url("../../Assets/image/coming-soon-banner.png");
  background-repeat: no-repeat;
  height: 730px;
  position: relative;

   .mobile-input{
      position: absolute;
      bottom: 45%;
      left: 26.5%;

      .input{
        width: 180px;
        border: 1px solid #CBCBCB;
        border-radius: 16px ;
        padding: 10px;
        rotate:1.5deg;
      }

    }

    .partner-bottom-content {
      float: right;
      max-width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 30px;
      margin-top: 80px;

      .partner-label {
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 5px 15px;
        border-radius: 5px;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(255, 255, 255, 0.3);

      }

      .partner-heading {
        font-size: 55px;
        font-family: Poppins;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
        line-height: 60px;

        span {
          font-size: 55px;
          display: block;
          color:$blue-color
        }
      }

      .bottom-content {
        font-family: Poppins;
        font-weight: 300;
        font-size: 22px;
        line-height: 33px;
        text-align: left;
        color: rgba(255, 255, 255, 0.75);
      }
      .joinWaitlist {
        width: 130px;
      }
    }

}
}


@media (min-width: 375px) and (max-width: 425px){
.partners-main{
  .partners-top{
    padding: 50px 0px;

    .container{
      display: grid;
      gap: 22px;

    .partners-details{
      display: grid;
      gap: 15px;
      padding: 25px 40px;
      .partners-details-img{
        width: 200px;
        height: 100px;
        margin: auto;
      }
      .border{
        border-bottom: 1px solid #D1D1D1;
      }
      .partners-details-content{
        font-size: 18px;
        text-align: center;
        line-height: normal;
      }
    }
    }

  }
  .partners-bottom{
    height: 500px;
    background-position: 10%;
    background-size: cover;
    .container{
      .partner-bottom-content{
        float: none;
        gap:10px;
        max-width: none;
        .partner-label{
          font-size: 20px;
        }
        .partner-heading{
          font-size: 30px;
          line-height: normal;
          span{
            font-size: 30px;
          }

        }
        .bottom-content{
          line-height: normal;
          font-size: 18px;
        }
        .joinWaitlist{
          width: 70px;
        }
      }

    }

  }
}
}
