@use "src/App";

.news{
  padding: 50px 0px;

  .news-top{
    margin: auto;
    display: grid;
    gap:10px;

    .news-heading{
      margin: auto;
      @include App.page-heading;

    }
    .news-content{

      font-family: Poppins;
      font-size: 55px;
      font-weight: 700;
      line-height: 65px;
      letter-spacing: 0em;
      text-align: center;
      color: rgba(14, 14, 24, 1);

      span{
        color: rgba(26, 135, 201, 1);
      }

    }
  }
  .news-bottom{
    display: grid;
    .news-card{
      display: flex;

      .card-detail{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;

      }
    }
    .viewAll{
      background-color: #1a87c8;
      border-radius: 68px;
      width: max-content;
      display: flex;
      gap: 20px;
      padding: 8px 20px;

      .viewAll-news{
        font-family: Ethos Nova;
        font-size: 18px;
        //font-weight: 600;
        line-height: 23.76px;
        align-self: center;
        color: rgba(255, 255, 255, 1) ;

      }
      .icon{
        border-radius: 30px;
        font-size: 35px;

      }

    }
  }
}