@use "../../global";
@import "../../global";

.products {
  display: grid;
  gap: 40px;

  .products-bottom {
    display: grid;
    grid-template-columns: auto auto;
    gap: 35px;
    .singleProduct {
      border: 1px solid rgba(226, 226, 226, 1);
      display: flex;
      gap: 50px;
      padding: 50px;
      .singleProduct-content {
        display: grid;
        gap: 15px;
        .singleProduct-content-head {
          font-family: Poppins;
          font-size: 25px;
          font-weight: 600;
        }

        .singleProduct-content-detail {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          color: rgba(62, 62, 70, 1);
          line-height: 25px;
        }
      }
      .svg {
        width: 100px;
      }
    }
    .singleProduct:hover {
      border: 3px solid #1a87c8;
      .svg {
        color: $yellow-color;
      }
      .singleProduct-content {
        .singleProduct-content-head {
          color: $blue-color;
        }
      }
    }
  }
}

@media screen and (min-width: 325px) and (max-width: 425px) {
  .products {
    .products-bottom {
      grid-template-columns: auto;
      gap: 30px;
      .singleProduct {
        display: grid;
        gap: 15px;
        padding: 20px;
        .singleProduct-content {
          gap: 10px;
          .singleProduct-content-head {
            font-size: 20px;
            text-align: center;
          }

          .singleProduct-content-detail {
            text-align: center;
            font-size: 14px;

          }
        }
        .svg {
          width: 80px;
          margin: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .products {
    .products-bottom {
      grid-template-columns: auto auto;
      gap: 30px;
      .singleProduct {
        display: grid;
        gap: 15px;
        padding: 20px;
        .singleProduct-content {
          gap: 10px;
          .singleProduct-content-head {
            font-size: 20px;
            text-align: center;
          }

          .singleProduct-content-detail {
            text-align: center;
            font-size: 16px;
          }
        }
        .svg {
          width: 80px;
          margin: auto;
        }
      }
    }
  }
}

@media(min-width:769px) and (max-width:1024px){
  .products {
    .products-bottom {
      grid-template-columns: auto auto;
      gap: 30px;
      .singleProduct {
        display: grid;
        gap: 15px;
        padding: 28px;
        .singleProduct-content {
          gap: 10px;
          .singleProduct-content-head {
            font-size: 25px;
            text-align: center;
          }

          .singleProduct-content-detail {
            text-align: center;
            font-size: 18px;
          }
        }
        .svg {
          width: 80px;
          margin: auto;
        }
      }
    }
  }
}


